@use "../2-abstracts/" as *;
.hero-section {
    padding: 0 $s $l;
    @include media($screen-xs) {
        padding: 0 $m $l;
    }
    @include media($screen-m) {
        @include flexBox();
        padding: 0 3rem $l;
    }
    @include media($screen-xl) {
        padding: 2rem 10% $l;
    }
    &__text {
        background-image: url("../assets/svg/logo_watermark.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: $m;
        @include media($screen-m) {
            margin-bottom: 0;
            margin-right: 2rem;
            flex: 0 0 50%;
        }
        @include media($screen-xl) {
            margin-right: 4rem;
            flex: 0 0 60%;
        }
    }
    &__title {
        margin-bottom: $s;
    }
    &__button {
        margin-top: $s;
    }
}

.problems-section {
    background-color: $light-grey;
    @include media($screen-m) {
        @include flexBox();
    }
    &__text-container {
        padding: 3rem $s $m;
        @include media($screen-xs) {
            padding: 3rem $m $m;
        }
        @include media($screen-m) {
            padding: 0 3rem;
        }
        @include media($screen-xl) {
            padding: 0 10%;
        }
    }
    &__text {
        transition: all 0.5s ease;
    }
    &__title {
        padding-bottom: $xs;
    }
}

.solutions-section {
    padding: $m $s;
    @include media($screen-xs) {
        padding: $m;
    }
    @include media($screen-m) {
        padding: $l 3rem;
        text-align: center;
    }
    @include media($screen-xl) {
        padding: $l 10%;
    }
    &__content {
        @include media($screen-m) {
            @include flexBox(row-reverse);
            text-align: left;
        }
    }
    &__text {
        transition: all 0.5s ease;
        flex: 0 0 50%;
    }
    &__title {
        padding-bottom: $xs;
    }
    &__button {
        margin-top: 1rem;
    }
}

.contact-section {
    padding: $m $s;
    background-image: linear-gradient(to right bottom, rgba($blue, 0.5), rgba($blue, 0.5)), url("../assets/jpg/background-smart-city.jpg");
    background-size: cover;
    background-position: center;
    @include media($screen-xs) {
        padding: $m;
    }
    @include media($screen-l) {
        padding: $l 10%;
    }
    &__title,
    &__description {
        color: $white;
    }
    &__title {
        margin-bottom: $xs;
    }
}