@use "../2-abstracts/" as *;
.privacy-policy {
    padding: $m $s;
    color: $dark-grey;
    @include media($screen-xs) {
        padding: 2rem;
    }
    @include media($screen-m) {
        padding: 2rem 3rem;
    }
    @include media($screen-xl) {
        padding: 3rem 10%;
    }
    h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    ul {
        margin-left: 2rem;
    }
    li {
        margin-bottom: 0.5em;
    }
    p {
        margin-bottom: 0.5rem;
    }
    a {
        word-break: break-all;
        &:link,
        &:visited {
            font-family: "Roboto", sans-serif;
            color: $dark-grey;
            text-decoration: underline;
            text-transform: none;
            letter-spacing: 0;
        }
        &:hover,
        &:focus {
            color: $yellow;
        }
    }
}