@use "../2-abstracts/" as *;
.services-section {
    padding: 0 $s $m;
    @include media($screen-xs) {
        padding: 0 $m;
    }
    @include media($screen-m) {
        padding: 0 3rem $m;
    }
    @include media($screen-xl) {
        padding: 1rem 10% 3rem;
    }
}

.service {
    position: relative;
    margin-top: $l;
    padding-bottom: $m;
    @include media($screen-m) {
        @include flexBox(row, space-between, center);
        &:nth-of-type(2n + 1) {
            .service__illustration {
                margin-right: 2rem;
            }
        }
        &:nth-of-type(2n) {
            flex-direction: row-reverse;
            .service__illustration {
                margin-left: 2rem;
            }
        }
    }
    @include media($screen-l) {
        &:nth-of-type(2n + 1) {
            .service__illustration {
                margin-right: 3rem;
            }
        }
        &:nth-of-type(2n) {
            flex-direction: row-reverse;
            .service__illustration {
                margin-left: 3rem;
            }
        }
    }
    @include media($screen-xl) {
        &:nth-of-type(2n + 1) {
            .service__illustration {
                margin-right: 4rem;
            }
        }
        &:nth-of-type(2n) {
            flex-direction: row-reverse;
            .service__illustration {
                margin-left: 4rem;
            }
        }
    }
    &__illustration {
        position: relative;
        flex: 0 0 40%;
        // @include media($screen-m) {
        //     margin-right: 2rem;
        //     &:nth-of-type(2n) {
        //         border: 8px solid orange;
        //     }
        // }
        // @include media($screen-l) {
        //     margin-right: 3rem;
        //     &:nth-of-type(2n) {
        //         margin-right: 0;
        //         margin-left: 3rem;
        //     }
        // }
        // @include media($screen-xl) {
        //     margin-right: 4rem;
        //     &:nth-of-type(2n) {
        //         margin-right: 0;
        //         margin-left: 4rem;
        //     }
        // }
    }
    &__number {
        position: absolute;
        right: 1rem;
        top: -2rem;
        text-align: center;
        font-size: $m;
        line-height: 4rem;
        color: $white;
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background-color: $yellow;
        border-radius: 50%;
        box-shadow: 0 $xs $xs $shadow;
    }
    &__image {
        width: 100%;
        margin-bottom: $s;
        border-radius: $xs;
        box-shadow: 0 $xs $s $shadow;
    }
    &__title {
        margin-bottom: $xs;
    }
    &__year {
        position: relative;
        display: inline-block;
        background-color: $blue;
        color: $white;
        font-size: 0.75rem;
        padding: 0.25em 1em;
        border-radius: 1em;
        margin-bottom: $s;
        &::after {
            position: absolute;
            left: 10%;
            bottom: -1em;
            content: "";
            display: inline-block;
            width: 80%;
            height: 1em;
            background-color: rgba($blue, 0.25);
            transform: perspective(1rem) rotateX(60deg);
            filter: blur(0.25rem);
            border-radius: 50%
        }
    }
    &:not(:last-child)::after {
        content: "";
        position: absolute;
        bottom: 0;
        display: inline-block;
        width: 50%;
        left: 25%;
        height: 2px;
        background-color: $light-grey;
    }
}