// COLORS
$yellow: #FFAD00;
$blue: #008ECC;
$red: #FF3F3F;
$green: #00D19F;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$medium-grey: #808080;
$dark-grey: #2C2C2C;
$shadow: #00000025;
// SPACING
$xs: 0.5rem;
$s: 1rem;
$m: 2rem;
$l: 4rem;
$xl: 8rem;
// BREAKPOINTS
$screen-xs: 24rem;
$screen-s: 36rem;
$screen-m: 48rem;
$screen-l: 60rem;
$screen-xl: 72rem;