@use "../2-abstracts/" as *;
.button {
    &:link,
    &:visited {
        transition: all 0.25s ease;
        display: inline-block;
        text-align: center;
        text-decoration: none;
        padding: 0.5em 1.5em;
        border-radius: $xs;
    }
    &--outline {
        &:link,
        &:visited {
            border: 2px solid $yellow;
            color: $yellow;
            background-color: $white;
        }
        &:hover,
        &:active {
            color: $white;
            background-color: $yellow;
            transform: translateY(-0.125rem);
            box-shadow: 0 $xs $s $shadow;
        }
    }
    &--fill {
        &:link,
        &:visited {
            border: 2px solid $yellow;
            color: $white;
            background-color: $yellow;
        }
        &:hover,
        &:active {
            background-color: lighten($yellow, 5%);
            border-color: lighten($yellow, 5%);
            transform: translateY(-0.125rem);
            box-shadow: 0 $xs $s $shadow;
        }
    }
}