@use "../2-abstracts/" as *;
.phone-slider {
    position: relative;
    display: block;
    width: 100%;
    background-image: url("../assets/svg/background-pattern.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    &__frame {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 60%;
        z-index: 2;
    }
    &__screens {
        @include centerElement();
        width: 52.5%;
        height: 95%;
        display: block;
        overflow-x: hidden;
        background-color: $dark-grey;
    }
    &__screen {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(50%, -50%);
        z-index: 0;
        transition: transform 0.75s ease;
        &--active {
            z-index: 1;
            transform: translate(-50%, -50%);
        }
        &--exit {
            z-index: 0;
            transform: translate(-150%, -50%);
        }
    }
}

.problem-slider {
    position: relative;
    width: 100vw;
    height: 100vw;
    &__images {
        width: 100%;
        height: 100%;
        overflow-y: hidden;
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease;
        &--active {
            opacity: 1;
            z-index: 1;
        }
    }
    &__index {
        position: absolute;
        z-index: 2;
        bottom: $m;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    &__dot {
        display: inline-block;
        width: $s;
        height: $s;
        margin: 0 0.25rem;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: transparent;
        transition: all 0.25s ease;
        &--active {
            background-color: $white;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    &__controls {
        position: absolute;
        bottom: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: $white;
        box-shadow: 0 $xs $s $shadow;
        border-radius: 1.5rem;
        width: 6rem;
        height: 3rem;
    }
    &__button {
        background-color: $white;
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        text-align: center;
        transition: background-color 0.25s ease;
        &>img {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            margin-top: 0.75rem;
        }
        &:hover {
            background-color: $light-grey;
        }
    }
}

.solution-illustration {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50%;
    margin-bottom: $m;
    display: block;
    &__icon {
        @include flexBox();
        width: 25%;
        height: 25%;
        position: absolute;
        z-index: 1;
        border-radius: 50%;
        transition: all 0.25s ease;
        &>img {
            width: 50%;
            max-height: 50%;
        }
        &--main {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.25);
            background-color: $dark-grey;
        }
        &--service {
            background-color: $yellow;
            &:hover {
                transform: scale(1.1);
            }
        }
        &--1 {
            bottom: 75%;
            left: 37.5%;
        }
        &--2 {
            bottom: 56.25%;
            left: 70%;
        }
        &--3 {
            top: 56.25%;
            left: 70%;
        }
        &--4 {
            top: 75%;
            left: 37.5%;
        }
        &--5 {
            top: 56.25%;
            right: 70%;
        }
        &--6 {
            bottom: 56.25%;
            right: 70%;
        }
    }
    &__input {
        display: none;
    }
    &__input:checked+&__icon {
        background-color: $blue;
    }
    &__circle {
        @include centerElement();
        z-index: 0;
        border: 2px solid $light-grey;
        border-radius: 50%;
        &--1 {
            width: 45%;
            height: 45%;
        }
        &--2 {
            width: 60%;
            height: 60%;
        }
        &--3 {
            width: 75%;
            height: 75%;
        }
    }
}