@use "../2-abstracts/" as *;
@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/ubuntu-regular.woff2") format("woff2"), url("./fonts/ubuntu-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto-bold.woff2") format("woff2"), url("./fonts/roboto-bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto-regular.woff2") format("woff2"), url("./fonts/roboto-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    font: normal 2rem/1.5 "Ubuntu", sans-serif;
    color: $dark-grey;
}

h2 {
    font: bold 1.5rem/1.5 "Ubuntu", sans-serif;
    color: $dark-grey;
}

h6 {
    font: bold 1rem/1.5 "Roboto", sans-serif;
    color: $white;
}

a {
    font-family: "Ubuntu", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-decoration: none;
}

.title {
    &--full-width {
        text-align: center;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: $yellow;
            margin-top: $xs;
        }
    }
}